body {
  background: url('./images/new-york-city-336475_1920.jpg') fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.form-holder {
  background: rgba(255, 255, 255, 0.2);
  margin-top: 10%;
  border-radius: 3px;
}

.form-head {
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  margin: 15px auto 30px auto;
}

.ui.checkbox label {
  color: #ddd;
}

.ui.grid {
  margin: 1rem;
}