<template name="TopNav">
    <div class="ui pointing menu">

        <div class="header item">
            <a href="/">
                <i class="ticket icon"></i>DeaLz
            </a>
        </div>

        <div class="ui simple dropdown item">
            Go

            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item">Electronics</a>
                <a class="item">Automotive</a>
                <a class="item">Home</a>
            </div>
        </div>

        <div class="right menu">
            <a class="item" href="/Login">Login </a>
        </div>

    </div>
</template>